.header_main {
  border-bottom: 1px solid #dbdbdb;
}
.header {
  width: 1500px;
  position: sticky;
  top: 0;
  left: 100px;
  height: 66px;
  z-index: 3;
  display: flex;
  background: #ffffff;
  text-align: center;
  justify-content: space-between;
  padding: 0 1.5%;
}

.menu-middle-item svg {
  margin-right: unset !important;
}
.logo img {
  width: 50px;
  margin-right: 2px;
  max-width: 100%;
  max-height: 100%;
}
.menu-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_control {
  width: 700px;
  /* width: 40%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #002f77;
}
.header_control .header-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.header .header-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.menu-right {
  margin: auto 25px;
}
.header-title {
  text-decoration: none;
  margin: 1px 12px 1px 0px;
  font-size: 18px;
  width: 100%;
  height: 100%;
  color: #002f77;
  font-weight: 650;
}

.header .logo-search {
  display: flex;
}
/* ----------- Header Menu ---------- */
.header .menu-middle {
  margin-right: -345px;
}

.header .menu .material-icons {
  font-size: 29px;
}

.header .menu label {
  cursor: pointer;
}

.menu-middle-item .dropdown-menu.show {
  top: 63% !important;
  left: -248% !important;
}
.header .menu .notify_length {
  position: relative;
  display: block;
  font-size: 14px;
  width: 20px;
  height: 19px;
  text-align: center;
  line-height: 18px;
  background-color: #f02849;
  border-radius: 20px;
  color: #fff;
  top: -74%;
  right: -45%;
}
.header .menu .notify_length::after {
  content: '';
  min-width: 45px;
  min-height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -21%);

  /* background-color: blueviolet; */
}

.heading-notify {
  min-width: 367px;
  width: 100%;
}

.statusBtn {
  background: rgb(0, 172, 166);

  border: none;
  outline: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  margin: 0 2px;
}
.statusBtn:hover {
  background: rgb(5, 139, 135);
  color: #ffffff;
}

.header_left {
  display: flex;
  align-items: center;
}

/* Header middle */
.header-menu-middle {
  display: flex;
  align-items: center;
  list-style: none;
  width: 600px;
  justify-content: space-around;
  padding: 0;
  margin: 0 100px 0 0;
  color: #002f77;
}
.menu-middle-item_bell {
  color: #b0b3b8;
  font-size: 30px;
  line-height: 0;
  width: 100%;

  padding: 8px 0;
  border-radius: 4px;
  position: relative;
}

.navbar-nav {
  gap: 5%;
}
.menu-middle-item {
  color: #b0b3b8;
  font-size: 38px;
  line-height: 0;
  width: 100%;
  padding: 5px;
  margin-right: 12px;
  border-radius: 10px;
  position: relative;
  background-color: #f0f2f5;
}

.menu-middle-item:hover {
  background-color: #3a3b3c;
  cursor: pointer;
}

.menu-middle-item_active {
  color: #f9cb00;
}

/* .menu-middle-item_active::before {
  content: '';
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #f9cb00;
  position: absolute;
  bottom: -5px;
  left: 0;
} */

.menu-middle-item:hover {
  background-color: var(--orange);
}

.menu-middle-item_badge {
  position: absolute;
  display: block;
  font-size: 14px;
  min-width: 18px;
  min-height: 18px;
  text-align: center;
  line-height: 18px;
  background-color: #f02849;
  border-radius: 20px;
  color: #fff;
  top: 2px;
  right: 44px;
}

.header_detail {
  width: 1500px;
  position: sticky;
  top: 0;
  left: 100px;
  height: 66px;
  /* z-index: 3; */
  display: flex;
  background: #ffffff;
  text-align: center;
  justify-content: space-between;
  padding: 0 1.5%;
}
