/* --------- Status ---------- */

.status {
  background: white;
  box-shadow: 0 0 5px #ddd;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0, 0.125);
}
.status .statusBtn {
  background: #f1f1f1;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #555;
  padding: 0 20px;
  text-align: left;
  margin: 0 5px;
}
.status .statusBtn:hover {
  background: #ddd;
}

/* ------------Posts ------ */
.posts .card {
  box-shadow: 0 0 4px #ddd;
}
/* --------- Post Card Header --------- */
.posts .card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px 25px;
}
.posts .card_header .card_name {
  transform: translateY(3px) translateX(7px);
}
.posts .card_header .dropdown-menu {
  position: absolute;
  right: 0;
  left: inherit;
}
.posts .card_header .dropdown-item {
  display: flex;
  margin: 5px 0;
}

/* ---------- Post Card Body ---------- */
.posts .card_body-content {
  padding: 0 25px;
  margin-top: -3px;
  margin-bottom: 15px;
}
.posts .card_body-content .readMore {
  color: #000;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

/* ---------- Post Card Footer ---------- */
.posts .card_icon_menu {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  cursor: pointer;
}
.posts .card_icon_menu i {
  font-size: 25px;
  margin: 10px;
}
.posts .card_icon_menu img {
  width: 28px;
  height: 28px;
  transform: translate(5px, -5px);
  opacity: 0.9;
}

.dropdown-menu.show {
  transform: translate3d(-126px, 24px, 0px) !important;
  border-radius: 7px !important;
  border: none;
  position: absolute;

  box-shadow: 0 0 3px #ddd;
}
.posts .card_show_like {
  padding: 5px 15px 0 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 350;
  color: #65676b;
}

.posts .card_show_like-icon {
  cursor: pointer;
  font-size: 16px;
  font-weight: 350;
  color: #65676b;
  margin-right: 3px;
}

.posts .card_show_comments {
  padding: 2% 1%;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: #3c4043;
}

.post_bottom_action_item {
  display: flex;
  align-items: center;
  position: relative;
  height: inherit;
}
/* .justify-content-between {
  align-items: center;
} */

.post_bottom_action_item-text {
  font-weight: 600;
  font-size: 16px;
  padding: 7px 105px;
}
.more-comment {
  cursor: pointer;
  color: #65676b;
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  padding: 0.4% 3.5%;
}

.post_bottom_action_item-text:hover {
  text-decoration: none;
}

.post_bottom_action_comment {
  font-weight: 600;
  font-size: 16px;
  padding: 7px 0px;
}

.post_bottom_action_comment:hover {
  text-decoration: none;
}

.post_bottom_action_item {
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  transition: 0.1s;
  margin: 0 3px;
}
.post-img {
  max-height: 240px;
}

.post_bottom_action_item:hover {
  background-color: var(--orange);
  transition: all 0.1s;
}

/* home */
/* .container {
  padding: 0 8px;
} */

.home {
  margin: 0 9% !important;
}

.home_page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1% 2% 1% 4%;
}

.home_page_left {
  width: 345px;
  padding: 16px 0 0 0;
}

.home_page_middle {
  width: 590px;
}

.home_page_right {
  width: 345px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  margin: 16px 0 0 0;
  box-shadow: 0 0 4px #ddd;
}

/* right side bar */
.suggestions_item {
  width: 100%;
  padding: 11px 5px 11px 10px;
  background: #ffffff;
}
.suggestions_item:hover {
  background: #f0f2f5;
  cursor: pointer;
}

/* btn follow */

.btn-loading {
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  max-width: 100px;
  height: 38px;
  color: #fff;
  background-color: #fcb61f;
  border-radius: 5rem;
  border: none;
}

.btn-loading:focus {
  outline: none;
}

.btn-loading-close {
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  max-width: 100px;
  height: 38px;
  color: black;
  background-color: #ffffff;
  border-radius: 5rem;
  border: 1px solid #002f77;
}
.btn-loading-close:focus {
  outline: none;
}

.main_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon_like {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 3%;
}
